@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none; // all anchor tags underline removed
    user-select: none; // research for info
}
  

/*---- header navigation styling ----*/
.header {
  display: flex; // all block items inside this parent element will slide to the available space.
  justify-content: space-between; // sets a balanced spacing in every child element.

  position: fixed; // if set: it resets the justify content to none
  top: 0; // nothing really happens because I set * margin/padding 0
  left: 0; // same here
  right: 0; // after setting right to 0 it separates each element with a space between
  padding: 1rem 4rem;
  z-index: 1; // makes it show first
  backdrop-filter: blur(5px);

  .menu-items {
    display: flex; // menu items will slide to the available space
    align-items: center; // aligns all to the center. If not set it will float up to the available space

    li {
      list-style-type: none; // removes the bullet points in all list style element.

      a {
        color: white;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        margin: 0 0.3rem;
        border-radius: 2rem;
        transition: background 0.3s ease-in-out;

        &:hover {
          background-color: rgba(255, 255, 255, 0.37);
        }
      }
    }
  }
}




/*--------------------- nav menu button ------------------------*/
.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  //padding: 1rem 0; // indented style of ham
  z-index: 1;
}

.menu-btn__lines, .menu-btn__lines::before, .menu-btn__lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

.menu-btn__lines::before, .menu-btn__lines::after {
  content: "";
  position: absolute;
}

.menu-btn__lines::before {
  transform: translateY(-0.5rem);
}

.menu-btn__lines::after {
  transform: translateY(0.5rem);
}


/*---------- animation for nav mobile menu button ---------*/
.menu-btn.open .menu-btn__lines {
  transform: translateX(2rem);
  background-color: transparent;
}
.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background-color: #ffffff;
}
.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background-color: #ffffff;
}


/*-------------- media query for menu button ---------------*/
@media (max-width: 767px) {
  .header {
    align-items: center;
    padding: 1rem;
  }
  
  .menu-btn {
    display: flex;
  }

  .menu-items {
    padding-top: 5em;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    //left: 0; // if on, runs to left
    height: 100vh;
    width: 100%; // or add width and can change its prefer width 100% full vw, 50% half vw
    transform: translateX(100vw);
    background-color: #8C32FF;
    transition: transform 0.3s ease-in-out;
  }

  .menu-items.open {
    transform: translateX(0);
  }

  .menu-items {
    
    li {
      margin: 1rem 1rem;
  
      a {
        color: #ffffff;
        font-size: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
      }
    }
  }

  .menu-items li a:hover {
    color: #111111;
  }
}

/*---------------- end of header navigation mobile responsive -----------------*/




/*------------- main hero styling ---------------*/
.main {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hero section */
.hero-section {
  background-color: #8C32FF;

  img {
    width: clamp(250px, 30vw, 500px);
  }
}

.hero-col {
  padding: clamp(2rem, 4vw, 5rem);
  max-width: 50%;
}

.main {

  .line {
    position: inherit;
    width: 2.5rem;
    height: 0.2rem;
    border-radius: 2rem;
    background-color: #FFFFFF;
  }

  h1 {
    font-family: "Poppins", serif;
    font-size: clamp(50px, 6vw, 80px);
    font-weight: 600;
    color: #FFFFFF;
    line-height: 113%;
    margin-bottom: 2.5rem; 
    margin-top: 1.78rem;
  }

  p {
    color: #FFFFFF;
  }
  
  .cta {
    margin-top: 60px;

    a {
      color: #FFFFFF;
      padding: 10px 14px;
      border: 1px solid #FFFFFF;
      border-radius: 2em;
      transition: all 0.3s ease;

      &:hover {
        background-color: #FFFFFF;
        color: #8C32FF;
        font-weight: 500;
      }
    }

    .cta-1 {
      color: #8C32FF;
      background-color: #FFFFFF;
      font-weight: 500;

      &:hover {
        color: #FFFFFF;
        background-color: unset;
      }
    }
  }
}

.custom-shape-divider-bottom-1618388964 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1618388964 svg {
  position: relative;
  display: block;
  width: calc(123% + 1.3px);
  height: 118px;
}

.custom-shape-divider-bottom-1618388964 .shape-fill {
  fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1618388964 svg {
      width: calc(129% + 1.3px);
      height: 44px;
  }
}

@media (max-width: 700px) {
  .hero-col {
    max-width: calc(100% - 4rem);
    text-align: center;
    padding: unset;
    
    img, .line {
      display: none;
    }

    h1 {
      font-weight: 500;
    }

    a {
      font-size: 14px;
    }
  }
}

/*---------------------- main hero section styling --------------------------*/




/*----------- team section styling ---------------*/
.section {
  text-align: center;
  margin: 140px auto;

  p {
    width: 50%;
    margin: 0 auto;
    padding: 10px 0 38px 0;
    text-align: center;
  }

  a {
    font-size: 0.89rem;
    font-weight: 500;
    padding: 10px 14px;
    background-color: rgba(214,214,214,0.38);
    border: 1px transparent rgba(214,214,214,0.38);
    border-radius: 2em;
    transition: all 0.5s ease;

      &:hover {
        background-color: unset;
      }
  }

  img {
    margin-top: 56px;
    max-width: calc(100% - 1rem);
    //object-fit: cover;
  }

}


@media (max-width: 768px) {
  .section p {
    width: calc(100% - 2rem);
  }

  .same-col {
      max-width: calc(100% - 4rem);
      text-align: center;
      padding: unset;
  }
}





/*------------ Second Hero Section Styling --------------*/
.heroine {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* second hero section */
.second-section {
  background-color: rgba(140, 50, 255, 0.06);

  .hero-img {
    width: clamp(250px, 30vw, 500px);
  }

  .rating {
    margin-top: 10%;
    width: clamp(250px, 5vw, 500px);
  }
}

.same-col {
  padding: clamp(2rem, 4vw, 5rem);
  max-width: 50%;
}

.heroine {

  h2 {
    font-family: "Poppins", serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 113%;
  }

  p {
    color: #8C32FF;
    font-size: 21px;
    margin-top: 20px;
  }
  
  .cta-section {
    margin-top: 40px;

    a {
      color: #8C32FF;
      padding: 10px 14px;
      border: 1px solid #8C32FF;
      border-radius: 2em;
      transition: all 0.3s ease;

      &:hover {
        background-color: #8C32FF;
        color: white;
        font-weight: 500;
        border: 1px transparent #8C32FF;
      }
    }

    .cta-section1 {
      color: white;
      background-color: #8C32FF;
      font-weight: 500;

      &:hover {
        color: #8C32FF;
        background-color: unset;
      }
    }
  }
}

.custom-shape-divider-top-1618480031 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1618480031 svg {
  position: relative;
  display: block;
  width: calc(155% + 1.3px);
  height: 52px;
}

.custom-shape-divider-top-1618480031 .shape-fill {
  fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1618480031 svg {
      width: calc(140% + 1.3px);
      height: 41px;
  }
}

/*------- media queries ----------*/

@media (max-width: 768px) {
  .same-col {
    text-align: left;

    h2 {
      font-size: 30px;
      font-weight: 600;
    }

    p {
      font-size: 14px;
    }

    a {
      font-size: 14px;
    }
  }
}

@media (max-width: 700px) {
  .second-section {

    .left-col {
      padding: unset;
    }
    
    .right-col {
      max-width: calc(100% - 4rem);
      text-align: center;
      padding: unset;
    }

    .hero-img {
      display: none;
    }
  }
}





/*-------------- footer section styling --------------*/
.c-footer {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: auto;
  height: 50vh;
  align-items: center;
  justify-content: center;
  margin: auto 4rem;
  grid-gap: 85px;

  .l-footer {
    margin-bottom: 40%;

    img {
      margin-bottom: 20px;
    }
  }

  .m-m-footer {
    display: flex;
    justify-content: space-between;

    .t-m-footer {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 35px;
    }

    li {
      list-style-type: none;
      margin-bottom: 15px;
    }

    a {
      color: #29343D;
      transition: all 0.3s ease;

      &:hover {
        color: #29343da2;
      }
    }
  }
}


@media only screen and (max-width: 1300px) and (min-width: 870px) {
//   .c-footer {
//     grid-template-columns: 1fr;
//     grid-template-rows: 1fr 1fr;
//     grid-gap: 35px;
//     margin: 4rem;

//     .l-footer {
//       margin-bottom: unset;
//       text-align: center;
//       align-items: center;
//     }

//     .m-m-footer {
//       justify-content: space-around;
//     }
//   }
}

@media only screen and (max-width: 869px) and (min-width: 401px) {
  // .c-footer {
  //   grid-template-columns: 1fr;
  //   grid-template-rows: 1fr 2fr;
  //   grid-gap: unset;
  //   margin: 4rem;
  // }

  // .l-footer {
  //   text-align: center;
  // }

  // .m-m-footer {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  // }
  
}


@media (max-width: 425px) {
  .c-footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 35px;
    margin: 4rem 2rem 0 2rem;
  }

  .l-footer {
    text-align: center;
  }
  
  .m-m-footer {
    flex-direction: column;
    text-align: center;
  
    .m-footer {
      margin-bottom: 4rem;
    }
  }
}



/*---------- global class -------------*/
.divider{
  width: 5px;
  height:auto;
  display:inline-block;
}